.tasks_block{
    display: inline-block;
    background-color: white;
    padding: 2%;
    margin: 7%;
    border-right: solid 3px rgb(161, 155, 155);
    border-bottom: solid 3px rgb(161, 155, 155);
    label{
        display: inline-flex;
        margin: 10%;
        font: 1em sans-serif;
        input:active+label::before{
            background-color: #b3d7ff;

        }
    }
    h3{
        text-align: center;
    }
}